<!DOCTYPE>
<html>
<body style="margin: 0;padding: 0;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;">
    <div class="email-wrap" style="float: left;margin: 0;padding: 20px 0;background: #fff; color: #343434;width: 100%; height: 100%;">
    <div class="email-content" style="width: calc(100% - 20px);max-width: 600px;margin: 20px auto;">
        <div class="email-header" style="margin: 0;padding: 0; padding-bottom: 25px; text-align: center;">
            <a href="#" class="email-header-logo">
                <img class="header-image" style="margin: 0;padding: 0;width: 50px;" src="http://cl.ly/image/0C2I0a311i3O/logo.png"/>
            </a>
            <h2 class="header-greeting" style="margin: 0;padding: 0;font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;font-size: 16pt;font-weight: 100;margin-top: 10px;text-align: center;">Since we last saw you ;)</h2>0
        </div>
        <div class="email-body-section" style="float: left; clear: left;margin: 0;padding: 0;border: 1px solid #eeeeee;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background: white;padding: 15px;margin-bottom: 20px;">
            <h3 class="email-body-section-header" style="margin: 0;padding: 0;border-bottom: 1px solid rgba(0,0,0,0.1);display: block;font-size: 15px;font-weight: 600;line-height: 15px;padding-bottom: 10px;margin-bottom: 15px;">
                Introduction to Chemistry
            </h3>

            <div class="post" style="margin: 0;padding: 0;display: block;padding-bottom: 15px;position: relative;">
                <h4 class="post-context" style="margin: 0;padding: 0;color: #A0A0A0;display: block;font-size: 13px;font-weight: 400;padding-bottom: 15px;">
                    <strong style="margin: 0;padding: 0;color: #6F65A6;">atothej</strong>
                    mentioned you in a post:
                    <a style="margin: 10px 0 0;padding: 0;display: block;font-weight: 600;color: #439fe0;text-decoration: none;" href="#">
                        View on Pi &raquo;
                    </a>
                </h4>

                <img class="avatar" style="margin: 0;float: left;padding: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;width: 35px;" src="https://s3.amazonaws.com/piapp-dev/avatars/3/large?avatar_set="/>

                <div class="post-content" style="float: left;margin: 0;padding: 0;display: block;min-height: 50px;width: calc(100% - 35px);">
                    <div class="post-meta" style="padding-left: 10px;margin: 0;">
                        <a class="post-meta-user" style="margin: 0;padding: 0;color: black;display: inline-block;font-weight: bold;font-size: 16px;">atothej</a>
                        <time class="post-meta-time" style="margin: 0;padding: 0;color: #788bb3;display: inline-block;font-size: 15px;font-weight: 100;margin-left: 5px;">
                            4h
                        </time>
                    </div>

                    <div class="post-body" style="padding-left: 10px;margin: 0;">
                        <p style="margin: 0;padding: 0;font-size: 15px;line-height: 25px;">I have got zero notifications today, had a number of comments/favorites. Happening to you too <span style="margin: 0;padding: 0;font-size: 15px;line-height: 25px;color: #439fe0;background: #f0edfd;" class="link highlight">@alex</span>?</p>
                    </div>
                </div>
            </div>

            <div class="posted-in" style="float: left; clear: both;display: block;margin: 15px 0 0;padding: 0;border-top: 1px solid rgba(0,0,0,0.1);padding-top: 15px;line-height: 25px;text-align: center;">
                <p class="posted-in-course" style="margin: 0;padding: 0;font-size: 14px;">There were <strong>33 posts</strong> in <a style="margin: 0;padding: 0;font-weight: 600;color: #439fe0;text-decoration: none;" href="#">Introduction to Chemistry</a> while you were offline.</p>
            </div>
        </div>
        <div class="email-body-section" style="float: left; clear: left;margin: 0;padding: 0;border: 1px solid #eeeeee;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background: white;padding: 15px;margin-bottom: 20px;">
            <h3 class="email-body-section-header" style="margin: 0;padding: 0;border-bottom: 1px solid rgba(0,0,0,0.1);display: block;font-size: 15px;font-weight: 600;line-height: 15px;padding-bottom: 10px;margin-bottom: 15px;">
                Physics 212
            </h3>

            <div class="post" style="margin: 0;padding: 0;display: block;padding-bottom: 15px;position: relative;">
                <h4 class="post-context" style="margin: 0;padding: 0;color: #A0A0A0;display: block;font-size: 13px;font-weight: 400;padding-bottom: 15px;">
                    <strong style="margin: 0;padding: 0;color: #6F65A6;">jayd3e</strong>
                    mentioned you in a comment:
                    <a style="margin: 10px 0 0;padding: 0;display: block;font-weight: 600;color: #439fe0;text-decoration: none;" href="#">
                        View on Pi &raquo;
                    </a>
                </h4>

                <img class="avatar" style="margin: 0;padding: 0; float: left;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;width: 35px;" src="https://s3.amazonaws.com/piapp-dev/avatars/4/large?avatar_set="/>

                <div class="post-content" style="float: left;margin: 0;padding: 0;display: block;min-height: 50px;width: calc(100% - 35px);">
                    <div class="post-meta" style="padding-left: 10px;margin: 0;">
                        <a class="post-meta-user" style="margin: 0;padding: 0;color: black;display: inline-block;font-weight: bold;font-size: 16px;">collin</a>
                        <time class="post-meta-time" style="margin: 0;padding: 0;color: #788bb3;display: inline-block;font-size: 15px;font-weight: 100;margin-left: 5px;">
                            4h
                        </time>
                    </div>

                    <div class="post-body" style="padding-left: 10px;margin: 0;">
                        <p style="margin: 0;padding: 0;font-size: 15px;line-height: 25px;">In class right now so I won't be in the meeting, but yesterday I mainly just worked on trying to ...</p>
                    </div>
                </div>

                <div class="post-comments" style="margin: 0;padding: 0;width: calc(100% - 45px);float: right;">
                    <div class="post-comment" style="margin: 0;padding: 0;display: block;padding-top: 15px;position: relative;">
                        <img class="avatar" style="float: left;margin: 0;padding: 0;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;width: 25px;" src="https://s3.amazonaws.com/piapp-dev/avatars/2/large?avatar_set=1428611054000"/>

                        <div class="post-comment-content" style="margin: 0;padding: 0;width: calc(100% - 25px); float: left;">
                            <div class="post-meta" style="padding-left: 6px;">
                                <a class="post-meta-user" style="margin: 0;padding: 0;color: black;font-weight: bold;font-size: 15px;">jayd3e</a>
                                <time style="margin: 0;padding: 0;color: #788bb3;display: inline-block;font-size: 14px;font-weight: 100;margin-left: 4px;" class="post-meta-time">4h</time>
                            </div>

                            <div class="post-comment-body" style="padding-left: 6px;">
                                <p style="margin: 0;padding: 0;padding-top: 5px;font-size: 14px;line-height: 20px;">I have got zero notifications today, had a number of comments/favorites. Happening to you too <span style="margin: 0;padding: 0;font-size: 14px;line-height: 20px;color: #439fe0;background: #f0edfd;" class="link highlight">@alex</span>?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="posted-in" style="float: left; clear: both;display: block;margin: 15px 0 0;padding: 0;border-top: 1px solid rgba(0,0,0,0.1);padding-top: 15px;line-height: 25px;text-align: center;width: 100%;">
                <p class="posted-in-course" style="margin: 0;padding: 0;font-size: 14px;">There were <strong>12 posts</strong> in <a style="margin: 0;padding: 0;font-weight: 600;color: #439fe0;text-decoration: none;" href="#">Physics 212</a> while you were offline.</p>
            </div>
        </div>
        <div class="email-body-section" style="float: left; clear: left;margin: 0;padding: 0;border: 1px solid #eeeeee;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background: white;padding: 15px;margin-bottom: 20px;">
            <div class="posted-in" style="display: block;margin: 0;padding: 0;line-height: 25px;text-align: center;">
                <p class="posted-in-course" style="margin: 0;padding: 0;font-size: 14px;">There were <strong>45 posts</strong> in <a style="margin: 0;padding: 0;font-weight: 600;color: #439fe0;text-decoration: none;" href="#">your other courses</a> while you were offline.</p>
            </div>
        </div>
        <div class="email-footer" style="margin: 0;padding: 0;display: block;margin: 25px 0 0 0;text-align: center;">
            <div class="email-footer-socialmedia" style="margin: 0;padding: 0;display: block;">
                <a href="http://twitter.com/piapphq" target="_blank" style="margin: 0;padding: 0;text-decoration: none;">
                    <img class="footer-twitter" style="margin: 0;padding: 0;width: 50px;" src="http://cl.ly/image/2f1y2Q2Y2u1L/twitter.png"/>
                </a>
            </div>
            <a href="http://piapp.co"
               class="footer-site"
               target="_blank"
               style="margin: 0;padding: 0;display: inline-block;color: #439fe0;clear: both;margin: 15px 0 0 0;text-decoration: none;">
               piapp.co
            </a>
        </div>
    </div>
    </div>
</body>
</html>