<div id="projects-wrap">
	<ul id="project-select">
		<li><a href="#">ONE</a></li>
		<li><a href="#">TWO</a></li>
		<li><a href="#">THREE</a></li>
		<li><a href="#">FOUR</a></li>
		<li><a href="#">FIVE</a></li>
	</ul>
	<div id="project-profile">
		<div id="project-right">
			<img id="project-logo" src="http://placehold.it/300x150"/>
			<h2>Crew:</h2>
		</div>
		<div id="project-left">
			<h1 id="project-name">AMPLIFY</h1>
			<h2 id="project-tagline">(Audio) Sharing is Caring; It can be Fun.</h2>

			<h3 class="project-header">Concept</h3>
			<p>Very simple concept: share audio between devices using Wifi. If I am playing a song on my phone, my buddies can sync up and the audio will be shared among all phones, turning the phones into a surround-sound speaker. Other uses include: 1) pairing with multiple devices and taking advantage of multiple bluetooth speakers, 2) sharing audio while watching a movie with headphones on a laptop, so another person can listen while their headphones are connected to their own device, 3) coordinated workouts or meditations (everyone in a gym could be listening to the same track on their headphones, 4) silent raves and other fun stuff.</p>

			<h3 class="project-header">Competition</h3>
			<p>There is another app like this that exists, but is very clunky, poorly maintained, and un-marketed. It also only works with iPhones. I believe it is imperative that this app works with laptops (or even just Mac laptops), too.</p>

			<h3 class="project-header">Marketing</h3>
			<p>Target is high school / college / young city professionals. Basically anywhere where there are a lot of people and casual listening culture. I could definitely see fraternities taking advantage of this, and I also think viral videos (silent raves, etc) could maybe emerge if the app gained traction. It’s a very “tell-your-friends-about-it app” since the premise involves multiple people / groups, so word of mouth is key. Ad model, sell the app, or paid version. I would not start with a paid version. Users = $.</p>

			<h3 class="project-header">Implementation</h3>
			<p>Coding work here is tough and beyond Stomp’s expertise, but if we do design stuff and ship it to my brother, he may feel generous enough to crank out some clean and well-commented code to give us something to work with. Could be a quick project if my brother decides to crank it out in a weekend. (How do we convince him to be kind…?)</p>

		</div>
	</div>

</div>