body#admin
	#header
		width: 100%
		background: url(asset_path('slice.png')) repeat-x
		min-height: 100px
		text-align: left
		#logo
			display: block
			width: 145px
			height: 176px
			background: url(asset_path('logo_bg.png')) no-repeat
			text-align: center
			a
				display: block
				height: 59px
				width: 43px
				margin-top: 70px
				margin: 70px 51px 0 51px
				background: url(asset_path('logo.png')) no-repeat
				&:hover
					background-position-y: -60px
		h1
			width: auto
			clear: none
			color: #454545
			margin-top: 5px
		ul.right
			li
				height: 69px
				border-left: 1px solid #e7e7e9
				a
					font-weight: bold
					color: #454545
					padding: 22px
					&:hover
						color: #242424
						background: #f7f7f9
					span
						width: auto
						font-size: 1.2em
