// LAYOUT RESET STYLES

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
	padding: 0
	margin: 0
	border: 0
	outline: 0
	vertical-align: baseline
	list-style: none outside none
	float: left

*, *:before, *:after
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

// PAGE ELEMENTS & COMMON CLASSES

html
	width: 100%
	background: white
	position: relative
	min-height: 100%
	&.plain
		background: white

body
	width: 100%
	height: 100%
	position: absolute
	overflow: hidden
	background: url(asset_path('big.png')) no-repeat center center fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	top: 0
	left: 0

.right
	float: right

p
	padding-bottom: 25px
	clear: left

// HEADER

#logo-wrap
	display: block
	position: absolute
	top: 40px
	z-index: 100
	&:hover
		#logo, h4.slogan
			background-color: black
	#logo
		float: left
		background: #141414
		width: 163px
		height: 60px
		color: #f7f7f9
		padding: 10px 25px 10px 10px
		&:hover
			color: white
		img
			float: left
			height: 40px
		h4
			clear: none
			float: left
			width: auto
			padding: 2px 0 0 20px
			font-weight: 700
	h4.slogan
		margin-left: 10px
		float: left
		clear: none
		background: #141414
		width: auto
		height: 60px
		color: #f7f7f9
		padding: 12px 25px
		font-weight: 200
		&:hover
			color: $highlight-color


// HOME 

.home-one
	float: left
	width: 100%
	position: relative
	video, #video
		min-width: calc(100% + 10px)
		min-height: calc(100% + 100px)
		size: 100%
		position: fixed
		top: -100px
		right: -10px
	ul.nav
		position: absolute
		right: 50px
		top: 50px
		li
			padding-left: 50px
			a
				color: white
				font-size: 17pt
				&:hover
					color: $highlight-color
	h2.slogan
		color: white
		position: absolute
		right: 50px
		bottom: 0
		width: auto
		text-align: center
		font-weight: 700
		font-size: 50pt

@media only screen and (max-width : 500px)
	.home-one video
		display: none

.home-two
	float: left
	clear: left
	min-height: 200px
	width: 100%
	padding: 50px

.home-three
	padding: 50px
	clear: left
	min-height: 200px
	width: 100%





