<div class="home-one">
    <video autoplay loop poster="<%= asset_path('big.png') %>" id="bgvid">
        <source src="<%= asset_path('vampa.mp4') %>" type="video/mp4">
    </video>
    <ul class="nav">
      <li><a href="#">WORK</a></li>
      <li><a href="#">ABOUT</a></li>
    </ul>
    <h2 class="slogan">Thinking Sideways</h2>
</div>

<div class="home-two">
    <h3 class="section-header">OUR WORK</h3>
</div>

<div class="home-three">
    <h3 class="section-header">ABOUT US</h3>
</div>