<div class="home-one">
    <video autoplay loop poster="<%= asset_path('big.jpg') %>" id="bgvid">
        <source src="<%= asset_path('vampa.min.mp4') %>" type="video/mp4">
    </video>
    <div id="lead-gen">
        <icon class="fa fa-paper-plane" id="icon"></icon>
        <a href="http://goo.gl/forms/WePoRQ9Vfz" target="_blank"><h4>Sign up for updates on releases!</h4></a>
    </div>
</div>