<div id="preload">
    <div id="wave">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<!-- You write code for this content block in another file -->

<div class="topWrapper text-center">
    <div class="topHeader -vh-5">
        <!-- top logo -->
    </div>
</div>
<div class="centerWrapper -center -vh-10 text-center -absolute">
    <a href="index.html" class="logo">
        <img src="images/rocket-white.svg" width="80" class="main-logo m-b-30">
    </a>
    <!-- slide text -->
    <div class="slide-cover">
    <div><h1 class="-light">Modern & Creative Template Development.</h1></div>
    <div><h1 class="-light">Design & Creative Digital Solutions.</h1></div>
    <div><h1 class="-light">Agency & Business Design Strategys.</h1></div>
</div>
    <!-- countdown -->
    <div id="countdown" class="countdown -center -dashed   m-b-50 m-t-30"></div>
    <!-- text content -->
    <p>OUR WEBSITE IS COMING SOON</p>
</div>
<div class="footerWrapper text-center">
    <!-- footer -->
    <div class="mastfoot">
    <p>© 2017  —  Made with <span class="love"> ♥︎ </span> by <a href="#">Air Studio</a></p>
</div>
</div>
<!-- overlay background -->
<div id="overlay">
    <div class="layer_1 bg-color -op-7"></div>
    <div class="layer_3 bg-video" id="bg_video"></div>
</div>

<script src="js/skyrocket-comingsoon.js"></script>
<script src="js/comingsoon.js"></script>
</html>
