<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body id="public" class="cb03">
    <div id="logo-wrap">
      <% if current_page?(root_url) %>
        <a id="logo">
      <% else %>
        <a href="<%= root_public_url %>" id="logo">
      <% end %>
        <img src="<%= asset_path('flat_logo.png') %>"/>
        <h4>VAMPA</h4>
      </a>
      <h4 class="slogan">Think Sideways</h4>
    </div>

    <%= yield %>
  </body>
</html>
