<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body id="public">
    <% if current_page?(root_url) %>
      <a id="logo">
    <% else %>
      <a href="<%= root_public_url %>" id="logo">
    <% end %>
      <img src="<%= asset_path('flat_logo.png') %>"/>
      <h4>VAMPA</h4>
    </a>

    <main role="main">
       <%= yield %>
    </main>

  </body>
</html>
