<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body id="public">
    <div id="header">
      <div id="logo">
        <a href="<%= root_public_url %>"></a>
      </div>
    </div>
    <main role="main">
       <%= yield %>
    </main>
  </body>
</html>
